/* Generic styles and animations */
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}

/* Styles for the deck of cards */

.deck {
    width: 41vw;
    min-height: 39vw;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 16px 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 8.2vw;
    width: 8.2vw;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;

    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

/* Styles for the Score Panel */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    padding: 0;
    display: inline-block;
    margin: 0 20px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}
.score-panel .moves {
    margin: 0 20px 0 0;
}
.score-panel .restart {
    float: right;
    cursor: pointer;
    background: transparent;border:none;
    margin-top:5px;
}
.score-panel .timer{
    text-align: center;float: right;margin-right:15px;
}


/* Congratulations Popup */
.game-end-popup{
    background: rgb(255, 255, 255);
    text-align: center;
    padding: 30vh 0px;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    font-size: 1.2em;
}
.game-end-popup button{background: #02ccba;border:none;padding: 5px 10px;color: #fff;cursor: pointer;}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .deck {
        width: 49vw;
        min-height: 49vw;
    }
}
@media only screen and (max-width: 500px) {
    .deck {
        width: 80vw;
        min-height: 73vw;
    }
    .deck .card {
        height: 15vw;
        width: 15vw;
    }
}
